name: Update News
on:
  schedule:
    - cron: '0 * * * *' # Co godzinę
  workflow_dispatch: # Możliwość ręcznego odpalenia

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run script
        env:
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
        run: python news_bot.py
      - name: Commit and push
        run: |
          git config --global user.name "AI-Bot"
          git config --global user.email "bot@github.com"
          git add index.html
          git commit -m "Automatyczna aktualizacja newsów" || exit 0
          git push
